/* Estilo principal del layout usando grid */
.router-layout {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 10% 90%; /* Asigna 20% al menú lateral y 80% al contenido */
  grid-template-areas: "lat-menu content content content";
}

/* Estilo para el área de contenido, asignada al grid-area 'content' */
.content-browser {
  height: 100%;
  grid-area: content;
  background-color: #58595c;
}

/* Estilos para el menú lateral */
.lat-menu {
  grid-area: lat-menu; /* Asigna el área del grid al menú lateral */
  height: 100%;
  margin: 0;
  padding: 1rem 0; /* Simplificado para top y bottom padding */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: #4a4b4e;


  /* Estilos para las listas dentro del menú lateral */
  ul {
    padding: 5px;
    margin: 0;
    box-sizing: border-box; /* Asegura que el padding no afecte el ancho total */
    min-width:80px ;
    width: 100%;

    /* Estilos para cada elemento de la lista */
    li {
      width: 100%;
      list-style: none; /* Elimina los bullets de la lista */
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 5px;
      

      /* Estilos para los enlaces dentro de cada elemento de la lista */
      a {
        width: 100%;
        padding: 8px;
        color: #c9c7c7;
        font-size: 14px;
        font-weight: 400;
        text-decoration: none;
        border-bottom: 2px solid #00000056;
        transition: all 200ms; /* Se aplica a todos los cambios para transiciones suaves */
        
      }

      /* Estilos para el hover de los enlaces */
      a:hover {
        color: #c2d971;
        border-bottom: 2px solid #c2d971;
      }
    }
  }
}

/* Estilos para el submenú */
.ul-submenu {
  width: 100%;
  box-shadow: inset 3px 3px 1px #00000018, inset -3px -3px 1px #ffffff1a;
}

/* Estilos para enlaces dentro del submenú */
.ul-submenu .li-submenu .a-submenu {
  color: #c2d971;
  border: none; /* Especifica que no hay borde */
  font-size: 12px;
  background-color: #5b5e64;
}

/* Estilos para el hover de los enlaces del submenú */
.ul-submenu .li-submenu .a-submenu:hover {
  background: #c2d971;
  color: #6c7f26;
}

/* Estilos para los enlaces activos en el menú principal */
.li-menu-principal .active {
  color: #c2d971;
  border-bottom: 2px solid #c2d971;
}

/* Estilos para el logo en el menú lateral */
.logo-arsheep {
  background: rgba(255, 255, 255, 0.059);
  padding: 2px;
  width: 90%;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;

  /* Estilos para la imagen dentro del logo */
  img {
    width: auto;
    max-height: 2rem;
  }
}
.arrow {
  display: none;
}

.active .arrow {
  display: inline-block; 
  margin-left: 5px; 
}

