.image-container{
  width: 500px;
  height: 200px;
  box-sizing: border-box;
  margin: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.image-cliente {
  width: auto; /* Asegura que la imagen no sea más ancha que el contenedor */
  height: 100%; /* Asegura que la imagen no sea más alta que el contenedor */
  border-radius: 5px;
}

