.control-buttons-container{
    box-sizing: border-box;
    padding: 2px;
    margin: 2px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    border-radius: 5px;
    box-shadow: var(--cont-shadow-conc);
}
.control-buttons-container-group{
    padding: 2px;
    display: flex;
    margin: 2px;
    flex-flow: row wrap;
    border-radius: 5px;
    button{
        margin-top: 1px;
        min-width: 100px;
    }
}


